.body{
    margin: auto;
    min-width: 1600px;
}
.header{
	height: 100px;
    display: flex;
    background-color: black;
	align-items: center;
    justify-content: center; 
}
#background{
    display: flex;
    background-color: #323232;
    background-size: 100% auto;
    width: 100%;
    height: 780px;
}
#menuElement{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:3rem;
    width: 50%;
    height: 100%;
    background-color: #cccccc;
}
#gameWindow{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: wheat;
}
#movableLine {
  position: absolute;
  top: 86%;
  left: 45%;
  width: 160px;
  height: 2px;
  background-color: #000;
}
#objectContainer {
  position: absolute;
  top: 88%;
  left: 26%;
  width: 420px;
  height: 81px;
  border: 1px solid #000;
  display: flex;
  gap:5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#timerElement {
    font-size: 24px;
    width: 20%;
    height: 5%;
    font-weight: bold;
    color: black;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
  }
  #playerName {
    font-size: 24px;
    width: 20%;
    height: 5%;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  #targetScore {
    font-size: 24px;
    width: 20%;
    height: 5%;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 4px;
  }
  #currentScore {
    font-size: 24px;
    width: 20%;
    height: 5%;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  #explainer {
    font-size: 15px;
    width: 30%;
    height: 20%;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  #expControl {
    position: absolute;
    top:0;
    right:0;
    font-size: 20px;
    width: 38%;
    height: 20%;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
  #evenHolder{
    position: absolute;
    height: 200px;
    width: 50%;
    right:0;
    top:0;
    border: 1px solid #000;
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex:1
  }
  #evenExplainer{
    font-size: 15px;
    position: absolute;
    height: 200px;
    width: 50%;
    right:0;
    top:0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
    font-weight: bold;

  }
  #oddHolder{
    position: absolute;
    height: 200px;
    width: 50%;
    left:0;
    top:0;
    border: 1px solid #000;
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex:1
  }
  #oddExplainer{
    font-size: 15px;
    position: absolute;
    height: 200px;
    width: 50%;
    left:0;
    top:0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }


  .falling-object {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: red;
    /* animation: fallAnimation 2s linear forwards; */
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.95em;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

.watchbutton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    color: #a1a1c7;
    width: 20%;
    height:3rem;
    background-color: orange;
    border-radius: 30px;
    border: none;
    color: white;
}
.watchbutton:hover{
    background-color: #E47209;
    border-radius: 30px;
    border: none;
}
.watchbutton:focus{
    background-color:#4B9200;
}
.input_text {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
}
.input_text:focus {
    border-color: #4a8df8;
    outline: none;
}

#buttonPlaceholder{
    display: flex;
    flex-direction: column;
    width: 10%;
    height:20%;
    margin: auto;
    justify-content: space-between;
    gap: 30px;
}

.footer{
    width:100%;
    height: 100px;
    background-color: black;
}

.refo{
    position: relative;
    top:5%
}

.secondpart{
    width: 25%;
    height: 400px;
}
.footcontain{
    display: flex;
    width: 80%;
    margin: auto;
}
.secondpart .nav{
    position: relative;
    top:80%;
    min-width: 100%;
}

.secondpart .nav__list {
	display: flex;
    min-width: 100%;
	align-items: center;
	justify-content: space-between;
}
a{
    font-family:Arial, Helvetica, sans-serif
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: #a1a1c7;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fallAnimation {
    0% {
      top: 0;
    }
    100% {
      top: 90%;
    }
  }
  @keyframes flyAnimation {
    0% {
      top: 80%;
    }
    100% {
      top: 1  0%;
    }
  }
  @keyframes weaveAnimation {
  0% {
    top: 0%;
  }
  25% {
    top: 50%;
  }
  50% {
    top: 90%;
  }
  75% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

